body {
    margin: 5px;
    font-family: monospace;
}

a {
    color: #05386B;
    text-decoration: none;
}

a:hover {
    background-color: skyblue;
}

.atas {
    height: 50px;
    background-color: #86bd86;
    padding: 30px;
    border-bottom: 5px solid #0c560c;
    font-size: 30px;
}

.table-responsive {
    width: 550px;
    padding-bottom: 25px;
}

.table {
    width: 100%;
    font-size: large;
    font-weight: bold;
    border: 0;
}
