body{
    margin: 30px;
    font-family: monospace;
}
a{
    color: green;
}
.atas{
    height: 50px;
    background-color: #86bd86;
    padding: 30px;
                    border-bottom: 5px solid #0c560c;
    font-size: 30px;
}